<!DOCTYPE html>
<html ng-app="gamerank">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gamerank</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- build:css(.tmp) styles/style.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <!-- endbower -->

    <!--SCRIPTS-->
    <script src="scripts/app.js"></script>
    <!--SCRIPTS END-->


    <!-- endbuild -->

</head>

<body>
<div id="main-app" class="">
    <div class="row">
        <div class="col-md-12">Game rank app</div>
        <hr>
    </div>
    <div class="row container-fluid" ng-controller="GameRatingController">
        <div id="edit" class="col-md-6" ng-show="curgame">
            <form>
                Id: <span>{{curgame.id>=0?curgame.id:'unsaved'}}</span><br />
                Name: <input type="text" ng-model="curgame.name" /><br />
                <rating ng-model="curgame.rating" max="maxstars" on-hover="hoveringOver(value)" on-leave="overStar=null"></rating>
                <span class="label" ng-class="{'label-warning': percent<60, 'label-info': percent>=60 && percent<80, 'label-success': percent>=80}" ng-show="overStar">{{percent}}%</span>
            </form>
            <br>
            <div><button type="button" class="btn btn-primary fa fa-save" ng-click='clickSaveGame()'> Save</button><button class="fa fa-remove btn btn-danger" ng-click='clickDeleteGame(curgame)'> Delete game</button></div>
        </div>
        <hr>

        <div id="list"  class="col-md-6">
            <div class="row"><button class="fa fa-plus btn btn-primary" ng-click='clickAddGame()'> Add game</button></div>
            <div class="row" ng-repeat="game in games" ng-class="">
                <div class="col-lg-8 fa fa-gamepad"><a ng-click="clickSelectGame(game)">{{game.name}}</a></div>
                <div class="col-lg-3">{{game.rating}}</div>
                <div class="col-lg-1 fa fa-remove"  ng-click='clickDeleteGame(game)'></div>
            </div>
        </div>

    </div>
    <div class="row navbar navbar-fixed-bottom">
        <div class="col-md-12">Grails/Angular app example by Konstantin Petrukhnov 2015</div>
    </div>
</div>

</body>
</html>
